:root {
    --shadow-winner: 20px;
}

.game-wrapper {
    width: 50%;
    display: none;
    justify-content: space-between;
    align-items: center;

}

.game-wrapper_active {
    display: flex;
}

.game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.game__title {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    color: white;
}

.game__choice {
    display: flex;
    place-items: center;
    width: calc(var(--choise-w) + 50px);
    height: calc(var(--choise-h) + 50px);
    background: rgba(0, 0, 0, 0.205);
    border-radius: 50%;
    position: relative;
}

.winner {
    border-radius: 50%;
    animation: box-shadow 2s alternate infinite ease-in;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-in-out;
    position: relative;
    padding: 2rem;

}

.result_active {
    visibility: visible;
    opacity: 1;
}

.sm {
    display: none;

}

.md {
    height: 100%;
    width: 100%;
}

.result__title {
    font-size: 3rem;
    color: white;
    text-shadow: 5px 3px 5px rgba(255, 226, 120, 0.5);
}

.result__button {
    margin-top: 1rem;
    padding: 1rem 2rem;
    background: white;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .1s cubic-bezier(0.57, -0.3, 0.74, 0.05);
}

.winVideo {
    width: 100%;
    height: 100%;
    /* bg path clik star shape */
    /* clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); */
    position: absolute;
    z-index: -1;
    border-radius: 40%;
}

/* generate media query for small devices */
@media screen and (max-width: 768px) {
    .game-wrapper {
        width: 100%;
        justify-content: space-evenly;
    }

    .game {
        flex-direction: column-reverse
    }

    .game__title {
        font-size: .6rem;
    }

    .game__choice {
        width: var(--choise-w);
        height: var(--choise-h);
    }

    .md {
        display: none;
    }

    .sm {
        display: block;
        /* height: 100%; */
        width: 100%;
    }

    .result__title {
        font-size: 1.5rem;
    }

    .result__button button {
        padding: .5rem 1rem;
        font-size: 1rem;
    }

    .winVideo {
        width: 70%;
    }
}


/* create box shado keyfames */
@keyframes box-shadow {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.027),
            0 0 0 0 rgba(255, 255, 255, 0.027),
            0 0 0 0 rgba(255, 255, 255, 0.027),
            0 0 0 0 rgba(255, 255, 255, 0.027);
    }

    100% {
        box-shadow: 0 0 0 var(--shadow-winner) rgba(255, 255, 255, 0.027),
            0 0 0 calc(var(--shadow-winner) + 20px) rgba(255, 255, 255, 0.027),
            0 0 0 calc(var(--shadow-winner) + 40px) rgba(255, 255, 255, 0.027),
            0 0 0 calc(var(--shadow-winner) + 60px) rgba(255, 255, 255, 0.027);
    }
}